# gitignore template for Drupal 8 projects
#
# earlier versions of Drupal are tracked in `community/PHP/`

# Ignore configuration files that may contain sensitive information
/sites/default/settings.php

# Ignore paths that may contain temporary files
/sites/themes/custom/*/node_modules
.vscode
.editorconfig
.gitattributes